<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.P1"/>
      <class name="TestNG.P2"/>
      <class name="TestNG.P3www"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
